<div>
  {{#if item}}
  <table border=1 cellspacing=0 cellpadding=3 style="max-width: 250px; ">
    {{#if item.response && item.response.meta }}
      <tr><td colspan=2>
        <img src="https://img.deichman.no/biblionumber/{{item.response.meta.biblionumber}}" alt="item image/cover">
      </td>
      <tr><th colspan=2>{{ item.response.meta.title }}</th></tr>
      <tr><td>author</td><td>{{ item.response.meta.author }}</td></tr>
      <tr><td>cn</td><td>{{ item.response.meta.callnumber }}</td></tr>
      <tr><td>barcode</td><td><a href="/#/item/{{ item.item_id }}">{{ item.item_id }}</a></td></tr>
      <tr><td>bibnum</td><td>{{ item.response.meta.biblionumber }} [<a href="https://intra.deichman.no/cgi-bin/koha/catalogue/detail.pl?biblionumber={{ item.response.meta.biblionumber }}">Koha</a>]</td></tr>
    {{/if}}
    <!-- TODO, dont render until locationMap is set -->
      {{#each item.response.tags as tag}}
        <tr><th colspan=2>tag</th></tr>
        <tr><td>rfid</td><td>{{ tag.rfid }}</td></tr>
        {{#if tag.permanent.at }}
            <tr><td>perm</td><td>
            <ShelfLink loc="{{tag.permanent.loc}}" />
            </td></tr>
            <tr><td>at</td><td><abbr title="{{ tag.permanent.at.iso8601 }}">{{ tag.permanent.at.ago || tag.permanent.at.iso8601 }}</abbr></td></tr>
            <tr><td>dev</td><td><a href="/#/dev/{{ tag.permanent.dev }}">{{ tag.permanent.dev }}</a></td></tr>
        {{/if}}
        {{#if tag.temporary.at }}
            <tr><td>temp</td><td>
            <ShelfLink loc="{{tag.temporary.loc}}" />
            </td></tr>
            <tr><td>at</td><td><abbr title="{{ tag.temporary.at.iso8601 }}">{{ tag.temporary.at.ago || tag.temporary.at.iso8601 }}</abbr></td></tr>
            <tr><td>dev</td><td><a href="/#/dev/{{ tag.temporary.dev }}">{{ tag.temporary.dev }}</a></td></tr>
        {{/if}}
      {{/each}}
      {{#if item.response.around }}
        <tr><th colspan=2>before</th></tr>
        {{#each item.response.around.before as e }}
          <tr><td colspan=2><a href="/#/item/{{ e.item_id }}">{{e.item_id}}</td></tr>
        {{/each}}
        <tr><th colspan=2>after</th></tr>
        {{#each item.response.around.after as e }}
          <tr><td colspan=2><a href="/#/item/{{ e.item_id }}">{{e.item_id}}</td></tr>
        {{/each}}
      {{/if}}
    </table>
  {{/if}}
</div>
<script>
  import SvelteRouter from 'svelte-router'
  import ShelfLink from '../components/ShelfLink.html'
  export default {
    props: ["item"],
    components: {ShelfLink,},
  }
</script>
<style>
  td {
      padding: 2px;
      padding-left: 5px;
      padding-right: 3px;
      border-top: none;
      border-left: none;
      white-space: nowrap;
      font-size: 11px;
  }
  th {
      background-color: #ccc;
      border-top: none;
      border-left: none;
      font-size: 12px;
  }
  tr {
  }
  tr.hit {
      background-color: #fbb;
  }
  .hex {
      font-size: 60%;
      border: 1px solid gray;
      margin-right: 1px;
      background-color: gray;
      color: white;
  }
  .hex-utf {
      background-color: #ddd;
  }
</style>
