<div>
  <h1><a href="/#/item/">RFID</a> -- {{ barcode }} {{ item.response.meta.title }}</h1>
  <form action="/#/item/">
  <label for="code">Barcode: </label>
  <input id="code" name="code" class="ui-autocomplete-input" autocomplete="off">
  </form>
  <hr size="1">
  <h2>transaction log</h2>
  <span> Input barcode: {{ barcode }}</span><br>
  <span>Item ID: {{ item.response.item_id }}</span><br>
  <span>{{ item.response.meta.author }}</span><br>

  <table border=1 cellspacing=0 cellpadding=3 style="max-width: 250px; ">
    <thead>
      <tr><th>at</th><th>shelf</th><th>type</th><th>rfid</th></tr>
    </thead>
    <tbody>
      {{#each item.response.history as it}}
        <tr><td>{{it.at.ago}} ago</td><td>{{it.location}}</td><td>{{it.actions.join(' ')}}</td><td>{{it.dev}}</td></tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script>
  import SvelteRouter from 'svelte-router'
  export default {
    props: ["barcode", "item"]
  }
</script>
<style>
  td {
      padding: 2px;
      padding-left: 5px;
      padding-right: 3px;
      border-top: none;
      border-left: none;
      white-space: nowrap;
      font-size: 11px;
  }
  th {
      background-color: #ccc;
      border-top: none;
      border-left: none;
      font-size: 12px;
  }
  tr {
  }
  tr.hit {
      background-color: #fbb;
  }
  .hex {
      font-size: 60%;
      border: 1px solid gray;
      margin-right: 1px;
      background-color: gray;
      color: white;
  }
  .hex-utf {
      background-color: #ddd;
  }
</style>
