<div>
  {{#if item && item.response }}
    {{#if item.response.meta }}
      <h1>{{ item.response.meta.title }}</h1>
      <form>
      <label for="code">Search: </label>
      <input id="code" name="code" bind:value=query class="ui-autocomplete-input" autocomplete="off">
      <Search query="{{query}}"/>
      </form>
      <hr size="1">
    {{/if}}
    <table border=1 cellspacing=0 cellpadding=3 style="max-width: 250px; ">
      <thead>
        <tr><th>at</th><th>shelf</th><th>action</th><th>rfid</th></tr>
      </thead>
      <tbody>
        {{#each item.response.history as it}}
          <tr><td><abbr title="{{it.at.iso8601}}">{{it.at.ago || it.at.iso8601}}</abbr></td>
            <td>
                <ShelfLink loc="{{it.location}}" />
            </td>
            <td><div class="compact">{{#each it.actions as action }}<div>{{action}}</div>{{/each}}</div></td>
            <td><abbr title="{{it.dev || 'N/A'}}">{{it.rfid || 'N/A'}}</abbr></td></tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>
<script>
  import SvelteRouter from 'svelte-router'
  import ShelfLink from '../components/ShelfLink.html'
  import Search from '../components/Search.html'
  export default {
    props: ["barcode", "item"],
    data() {
        return {
            query: "",
        };
    },
    components: {ShelfLink, Search},
  }
</script>
<style>
  a:hover {
    background-color: #fa5;
    color: black;
  }
  td {
    padding: 2px;
    padding-left: 5px;
    padding-right: 3px;
    border-top: none;
    border-left: none;
    white-space: nowrap;
    font-size: 11px;
  }
  th {
    background-color: #ccc;
    border-top: none;
    border-left: none;
    font-size: 12px;
  }
  .compact {
    max-height: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .compact:hover {
    max-height: 100px;
  }
</style>
