<div>
  <table border=1 cellspacing=0 cellpadding=3 style="max-width: 250px;">
    <thead>
      <tr><th>shelf</th><th>items</th><tr>
    </thead>
    <tbody>
      {{#if shelves.results}}
        {{#each shelves.results as res}}
          <tr>
            <td>
              {{#if (res.loc)}}
                {{#each [...locationMap.get(res.loc)] as loc, idx}}
                  <div class="shelflink">
                    <a href="/#/shelf/{{loc.link}}">{{loc.name}}</a>{{#if (idx != [...locationMap.get(res.loc)].length - 1) }}.{{/if}}
                  </div>
                {{/each}}
              {{/if}}
            </td>
            <td>{{res.tags}}</td>
          </tr>
        {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>
<script>
  import SvelteRouter from 'svelte-router'
  export default {
    props: ['shelves']
  }
</script>
<style>
  a {
      text-decoration: none;
      color: #840;
  }
  a:hover {
      background-color: #fa5;
      color: black;
  }
  td {
      padding: 2px;
      padding-left: 5px;
      padding-right: 3px;
      border-top: none;
      border-left: none;
      white-space: nowrap;
      font-size: 11px;
  }
  th {
      background-color: #ccc;
      border-top: none;
      border-left: none;
      font-size: 12px;
  }
</style>
