<div>
  <!--<img src="https://static.deichman.no/thumb/p4a57680224b65c576e090096c4317dea.jpg">-->
  <table border="1" cellspacing="0" cellpadding="3" style="max-width: 250px; ">
    <tbody><tr><th colspan="2">De hengte revenes skog</th></tr>
      <tr><td>author</td><td>Paasilinna, Arto</td></tr>
      <tr><td>cn</td><td><abbr title=",,Paa,"> Paa</abbr></td></tr>
      <tr><td>barcode</td><td><a href="/rfid/03010715020020">03010715020020</a></td></tr>
      <tr><td>bibnum</td><td>715020 [<a href="https://intra.deichman.no/cgi-bin/koha/catalogue/detail.pl?biblionumber=715020">Koha</a>]</td></tr>
      <tr><td>pubid</td><td>p4a57680224b65c576e090096c4317dea</td></tr>

      <tr><th colspan="2">tag</th></tr>
      <tr><td>last_at</td><td style="background: #99fec7; "><abbr title="Fri Feb 23 22:38:35 2018">71'&nbsp;ago</abbr></td></tr>
      <tr><td>last_dev</td><td>fmaj.tagvision_sip_proxy.10.172.6.9</td></tr>
      <tr><td>rfid</td><td><a href="/rfid/e0:04:01:00:43:56:7f:50">e0:04:01:00:43:56:7f:50</a></td></tr>
      <tr><td>shelf</td><td>no shelf</td></tr>
      <tr><td>shelf_at</td><td style="background: #f1ab44; "><abbr title="Tue Oct  3 15:16:05 2017">2017-10-03</abbr></td></tr>
      <tr><td>shelf_dev</td><td><span class="hex">NULL</span></td></tr>
      <tr><td>temp</td><td><div class="shelflink"><div><a href="/rfid/shelf/fmaj">fmaj</a>.<div><a href="/rfid/shelf/fmaj.auto">auto</a>.<div><a href="/rfid/shelf/fmaj.auto.in">in</a></div></div></div></div></td></tr>
      <tr><td>temp_at</td><td style="background: #99fec7; "><abbr title="Fri Feb 23 22:38:35 2018">71'&nbsp;ago</abbr></td></tr>
    </tbody>
  </table>
</div>
<style>
  td {
      padding: 2px;
      padding-left: 5px;
      padding-right: 3px;
      border-top: none;
      border-left: none;
      white-space: nowrap;
      font-size: 11px;
  }
  th {
      background-color: #ccc;
      border-top: none;
      border-left: none;
      font-size: 12px;
  }
  tr {
  }
  tr.hit {
      background-color: #fbb;
  }
  .hex {
      font-size: 60%;
      border: 1px solid gray;
      margin-right: 1px;
      background-color: gray;
      color: white;
  }
  .hex-utf {
      background-color: #ddd;
  }
</style>
