<div>
  <table border=1 cellspacing=0 cellpadding=3>
    <thead>
      <tr><th>at</th><th>location</th><th>barcode</th><th>callnum</th><th width="15%">author</th><th>title</th><th>last</th></tr>
    </thead>
    <tbody>
      {{#if shelf.results}}
        {{#each shelf.results as res}}
          <tr>
            <td><abbr title="{{res.last_at.iso8601}}">{{res.last_at.ago || res.last_at.iso8601}}</abbr></td>
            <td><ShelfLink loc="{{res.tags[0].temporary.loc}}"></td>
            <td><a href="/#/item/{{res.item_supplier}}/{{res.item_id}}">{{res.item_id}}</a></td>
            <td>{{ Array.isArray(res.meta.callnumber) ? res.meta.callnumber.join(' ') : res.meta.callnumber }}</td>
            <td style="max-width: 200px;"><abbr title="{{res.meta.author}}">{{res.meta.author}}</abbr></td>
            <td style="max-width: 200px;"><abbr title="{{res.meta.title}}">{{res.meta.title}}</abbr></td>
          </tr>
        {{/each}}
      {{/if}}
  </table>
</div>
<script>
    import SvelteRouter from 'svelte-router'
    import ShelfLink from '../components/ShelfLink.html'
    export default {
        props: ['shelf'],
        components: {ShelfLink,},
        oncreate() {
            //console.log(shelf);
        },
    }
</script>
<style>
  a:hover {
    background-color: #fa5;
    color: black;
  }
  abbr {
    text-decoration: none;
  }
  td {
    padding: 2px;
    padding-left: 5px;
    padding-right: 3px;
    border-top: none;
    border-left: none;
    white-space: nowrap;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  th {
    background-color: #ccc;
    border-top: none;
    border-left: none;
    font-size: 12px;
  }
</style>
